{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": 3
      }
    ],
    [
      "@vue/babel-preset-jsx",
      {
        "vModel": false
      }
    ],
    "@babel/preset-typescript"
  ]
}
